.up {
    position: absolute;
    z-index: 30;
    left: 90%;
    top: 80%;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    outline: none;
    background: rgba(255, 255, 255, .5);
    color: #fff;
    font-weight: 600;
    text-shadow: 1px 1px #000;
    cursor: pointer;
    border: 1px solid #000;
 
}

.up:hover {
    box-shadow: 0 0 5px #ccc inset, 0 0 25px #ccc inset;
}

 a {
    text-decoration: none;
    font-size: 1em;
}


@media (max-width: 1000px) {
    .up {
        left: 80%;
    }
}